@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.contact {
    margin-top: 7rem;
    width: 630px;
}

.contact h6 {
    color: #FF3147;
    font-size: 30px;
    font: normal normal 600 30px/110px "Cormorant SC", sans-serif;
    opacity: 1;
    flex-wrap: wrap;
}

.contact h1 {
    color: #000000;
    font-size: 60px;
    font: normal normal bold 60px/80px "Cormorant SC", sans-serif;
}

.contact p {
    color: #000000;
    font-size: 16px;
    font: normal normal normal 16px/30px "Poppins", sans-serif;
}

.contact button {
    background-color: #FF3147;
    border: none;
    color: white;
    font-weight: 600;
    width: 160px;
    height: 50px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: normal normal 600 14px/26px "Poppins", sans-serif;
}

.digital img {
    border: 10px;
}

.start{
    background-color: #FAFAFA;
    padding: 1rem ;
}

.start h4 {
    margin-top: 2rem;
    color: #FF3147;
    font: normal normal 600 24px/26px "Cormorant SC", sans-serif;
    font-size: 24px;
    margin-left: 10rem;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0rem 10rem;
}

.services h1 {
    font-size: 2.8rem;
    color: #000000;
    font: normal normal bold 45px/65px "Cormorant SC", sans-serif;

}

.services p {
    width: 400px;
    font: normal normal normal 16px/30px "Poppins", sans-serif;
}

.flip-box {
    background-color: transparent;
    width: 350px;
    height: 450px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }

  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }

  
  .flip-box-front,
  .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-box-front {
    background-color: #bbb;
    color: black;
  }

  
  .flip-box-back {
    background-color: #FF3147;
    color: white;
    transform: rotateY(180deg);
  }

  .flip-box-back button {

    border: none;
    background-color: white;
    color: #FF3147;
    font-weight: 600;
    margin-top: 1rem;
    height: 50px;
    border-radius: 5px;
    font-size: 1rem;
  }

  a {
    color: #FF3147;
    text-decoration: none;
  }

  a:hover {
    color: #FF3147;
  }



.best h5 {
    color: #FF3147;
    font-size: 24px;
    font: normal normal 600 24px/26px "Cormorant SC", sans-serif;
    font-weight: 700;
}

.best h1 {
    font: normal normal bold 45px/65px "Cormorant SC" sans-serif;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 700;
}
.best h6{
    font-size: 1.2rem;
    font: normal normal medium 16px/80px "Poppins", sans-serif;
}

.best p{
    font-size: 1rem;
    font: normal normal normal 16px/26px "Poppins", sans-serif;
}
.project h5 {
    color: #FF3147;
    font-size: 24px;
    font: normal normal 600 24px/26px "Cormorant SC", serif;
}

.project h1 {
    font: normal normal bold 45px/65px "Cormorant SC" sans-serif;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 700;
}

.project .card-body {
    height: 165px;
    padding: 1rem;
}

.growth{
    background-color: #FAFAFA;
    padding: 3rem;
}

.growth h1 {
    font: normal normal bold 45px/65px "Cormorant SC" sans-serif;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 700;
}

.growth h5 {
    color: #FF3147;
    font-size: 24px;
    font: normal normal 600 24px/26px "Cormorant SC", serif;
}

.growth h2 {
    font-size: 3.5rem;
    font: normal normal 300 60px/65px "Poppins", sans-serif;
    color: #000000;
}

.growth p {
    font-size: 17px;
    font-weight: 600;
}

b {
    color: #FF3147;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}

.client{
    background-color: white;
}

.client h1 {
    font: normal normal bold 45px/65px "Cormorant SC" sans-serif;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 700;
}
.client  h5 {
    color: #FF3147;
    font-size: 24px;
    font: normal normal 600 24px/26px "Cormorant SC" sans-serif;
}
.people{
    font-size: 1rem;
    font: normal normal normal 15px/34px "Poppins",sans-serif;
}

footer {
    background-color: #FF3147;
    width: 100%;
    overflow: hidden;
}

.form-control-no-border {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
  }

  .btn-center {
    display: block;
    margin: 0 auto;
  }

  .modal-content {
    max-width: 600px;
    margin: auto;
  }


.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}